body{
    display: flex;
    background-color: rgb(217, 226, 229);
}

.container{
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    
    width: 512px;
    height: 512px;
    margin: auto;
    margin-left: 10%;

    border-left: 1px solid black;
    border-bottom: 1px solid black;
}
.rowContainer{
    flex: 1;
    display: flex;
}

.grid{
    flex: 1;
    border-top: 1px solid black;
    border-right: 1px solid black;
}

.changeColor{
    background-color: blue;
}



#squareButton {
    flex: 0 0 auto;
    margin: 100px 0px 0px 100px;
    width: 80px;
    height: 50px;

    background-color: cornsilk;
    border-radius: 20%;

}