body{
    display: flex;
    flex-direction: column;
    background-color: rgb(217, 226, 229);
}

#header{
    text-align: center;
    font-size: 80px;
    margin: 2% 0 4% 0 ;
    font-family: 'Times New Roman', Times, serif;
}

#main-container{
    display: flex;
    justify-content: space-around;
}

.grid-container{
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    
    width: 512px;
    height: 512px;

    border-left: 1px solid black;
    border-bottom: 1px solid black;
}
.row-container{
    flex: 1;
    display: flex;
}

.empty-container{
    flex:1;
}

.grid{
    flex: 1;
    border-top: 1px solid black;
    border-right: 1px solid black;
}

.change-color{
    background-color: blue;
}


.button{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#square-button {
    width: 80px;
    height: 50px;

    background-color: cornsilk;
    border-radius: 20%;

}